@model dynamic

@{
    ViewBag.Title = "New Rental";    
}

<h2>New Rental Form</h2>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-ValidCustomer="true" required type="text" value="" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" name="movie" data-rule-ValidMovie="true"  type="text" value="" class="form-control" />
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-3 col-sm-3">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>

    

    <button id="newrentalsubmitbutton" class="btn btn-primary">Submit</button>
</form>     

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
             
            var vm = {
                movieIds : []
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,                
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });
            //console.log(customers);   

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,                
                remote: {
                    url: '/api/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true                
            }, {
                name: 'customers',
                display: 'name',
                source: customers,
                limit: Infinity
            }).on("typeahead:select", function(e, customer) {
                vm.customerId = customer.id;
                });

            $('#movie').typeahead({
                minLength: 3,
                highlight: true                
            }, {
                name: 'movies',
                display: 'name',
                source: movies,
                limit: Infinity
            }).on("typeahead:select", function(e, movie) {
                $("#movies").append("<li class='list-group-item'>" + movie.name + "</li>");

                $("#movie").typeahead("val", "");

                vm.movieIds.push(movie.id);
                });

            $.validator.addMethod("validCustomer", function() {                
                return vm.customerId && vm.customerId !== 0;                
            }, "Please Select a valid customer");

            $.validator.addMethod("atleastOneMovie", function() {
               // return vm.customerId && vm.customerId !== 0;
                console.log(vm.movieIds.length);
                return vm.movieIds.length > 0;
            },"Please Select at least 1 movie");

            var validtor = $("#newRental").validate({
                submitHandler: function() {
                  //  e.preventDefault();

                    $.ajax({
                            url: "/api/newRentals",
                            method: "post",
                            data: vm
                        })
                        .done(function () {
                            console.log("done");
                            toastr.success("Rentals successfully recorded.");

                            $("#customer").typeahead("val", "");
                            $("#movie").typeahead("val", "");
                            $("#movies").empty();

                            vm = { movieIds: [] };

                            validtor.resetForm();
                        })
                        .fail(function() {
                            toastr.error("Something Unexpected happened.")
                        });
                }
            });

//            $("#newRental").submit(function(e) {
//
//            });
        });
    </script>
}
